# Need to create the logs and media folders on the server but don't track files.
/logs/*
!/logs/.gitkeep
/media/images/*
!/media/images/.gitkeep
/media/other/*
!/media/other/.gitkeep
/media/videos/*
!/media/videos/.gitkeep
# Don't track vendor.
/vendor/
# App specific ignores.
credentials.json
token.json
info.md
# Dev items.
credentials_quickstart.json
/testing/
guzzle.php
index_original.php
test.php
# Potential items to be used still.
webhook.php
config/
/database/*
# !/database/database.sqlite
#/python/
*.pyc
/python/idiot.py
