# Don't track git submodules for Heroku.
/.gitmodules
/.heroku-media/
# Hide the media and database folder from commit.
/database
/media
# Need to create the logs folder on the server but don't track files.
/logs/*
!/logs/.gitkeep
# Don't track vendor.
/vendor/
# Python
/pythontest/
# Dev items.
/.nova/
/old/
# Build items
*.pyc
__pycache__/
/logs