# Hide the media folders from commit.
/media/images/*
!/media/images/.gitkeep
/media/other/*
!/media/other/.gitkeep
/media/videos/*
!/media/videos/.gitkeep
# Need to create the logs folder on the server but don't track files.
/logs/*
!/logs/.gitkeep
# Don't track vendor.
/vendor/
# Python
/pythontest/
/modules/__init__.py
# Dev items.
makefile
# Build items
*.pyc
__pycache__/
/modules/mailgun.py
